@layer components {
  .btn {
    @apply relative inline-flex items-center gap-x-1.5 text-sm cursor-pointer disabled:opacity-50 disabled:pointer-events-none py-3 px-4 rounded-sm;
  }
}

@utility btn-ghost {
  @apply bg-[#0000] border-[#0000];
  &:hover {
    @apply border  transition-all duration-300 ease-in;
    border-color: var(--color-surface-base);
    background-color: var(--color-surface-base);
    color: var(--color-primary-strong);
  }
}

@utility btn-link {
  @apply bg-[#0000] border-[#0000];
  &:hover {
    &::before {
      @apply w-9/10;
    }
  }
  &::before {
    content: "";
    @apply absolute w-0 h-0.5 bg-current bottom-2 left-2.5 transition-all duration-500;
  }
}

@utility btn-block {
  width: 100%;
}
@utility btn-sm {
  @apply py-2 px-3 text-sm;
}

@utility btn-lg {
  @apply p-4 sm:p-5 text-lg;
}
