@layer components{
     .console{
        @apply shadow-md flex flex-col shadow-secondary-strong rounded-md overflow-hidden;
     }     
}

@utility console-header{
    @apply p-1.5 flex flex-row-reverse items-center h-9;
    background-color:var(--color-surface-muted);
}

@utility console-btn-wrapper{
   @apply flex flex-row gap-1 ;
   & .console-btn:nth-child(1){
      @apply  bg-red-400;
   }
   & .console-btn:nth-child(2){
      @apply  bg-amber-400;
   }  
   & .console-btn:nth-child(3){
      @apply  bg-green-400;
   }
}

@utility console-btn{
   @apply size-3 rounded-full;
}

@utility console-body{
   @apply px-4 py-6 flex flex-col gap-2.5;
   background-color:var(--color-primary-base);
   color:var(--color-surface-base);
   h1{
      @apply font-sans;
   }

   h2{
      @apply font-bold font-sans text-xl;
   }
   &:has(p,li){
      @apply font-mono;
   }
}