---
import BentoItem from "@components/ui/bento/BentoItem.astro";
---

<BentoItem style="grid-area: footer;" as="footer">
  <p class="text-center" >© 2025 devjhonluna™-Todos los Derechos reservados.</p>
</BentoItem>
