---
import BentoItem from "@components/ui/bento/BentoItem.astro";
import fotoPortafolio from "@/assets/img/fotoportafolio.webp";
import Image from "astro/components/Image.astro";
import { Icon } from "astro-icon/components";
import Descripcion from "@components/profile-card/descripcion.astro";
import Socialmedia from "@components/profile-card/socialmedia.astro";
---

<BentoItem as="section" class="profile-card">
  <picture class="border rounded-md *:h-fit" style="grid-area: foto;">
    <Image src={fotoPortafolio} alt="foto" loading="lazy" />
  </picture>
  <Descripcion />
  <Socialmedia />
  <a
    href="mailto:dev.jhonluna@gmail.com"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="email"
    style="grid-area: download-cv;"
    class="border inline-flex items-center justify-between rounded-md h-fit p-2 self-center"
  >
    Contáctame
    <Icon name="socialmedia/email" size={28} />
  </a>
</BentoItem>
