@theme {
  /*fonts*/
  --font-sans: "IBM Plex Sans Variable", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;

  /*colors primitive*/

  /*primary*/

  --color-primary-subtle: #4e6171;
  --color-primary-base: #2f3a44; /*main primary*/
  --color-primary-strong: #101317;

  /*secondary*/

  --color-secondary-subtle: #9bb0a5;
  --color-secondary-base: #6e8b7c; /*main secondary*/
  --color-secondary-strong: #4a5e54;

  /*accent*/

  --color-accent-subtle: #E7C6A2;
  --color-accent-base: #D4A373; /*main accent*/
  --color-accent-strong: #A97745;

  /*surface*/  

  --color-surface-base: #F7F7F5; /*main surface*/
  --color-surface-muted: #E6E6E3;
  --color-surface-subtle: #D1D1CC;

  /*content*/


  --color-content-base: #1C1F23; /*main conetent*/
  --color-content-muted: #14171A;
  --color-content-strong: #0D0F12;
  /*color semantic*/
}
