@theme {

  /*fonts*/
  --font-sans: 'IBM Plex Sans Variable', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;
 

  /*colors primary*/

  /*primary*/
  --color-primary:#10b981;
  --color-primary-hover:#059669;
  --color-primary-active:#047857;
  
  /*secondary*/
  --color-secondary:#475569;
  --color-secondary-hover:#334155;
  --color-secondary-active:#1e293b;

   /*accent*/
  --color-accent:#06b6d4;
  --color-accent-hover:#0891b2;
  --color-accent-active:#0e7490;

   /*neutral-light*/
  --color-neutral-light:#f8fafc;
  --color-neutral-light-hover:#f1f5f9;
  --color-neutral-light-active:#e2e8f0;

   /*neutral-dark*/
  --color-neutral-dark:#0f172a;
  --color-neutral-dark-hover:#020617;
  --color-neutral-dark-active:#000000;


  /*color semantic*/

  
}
