---
import { Button, Link } from "@nextui-org/react";
---

<section
  class="p-2 md:p-8 w-full flex flex-col gap-y-2 justify-center"
  x-data="proyectos"
>
  <ul
    class="mx-auto flex rounded-lg shadow-xl max-w-[clamp(25ch,_60%,_40ch)] w-full overflow-hidden"
  >
    <template x-for="slide in slides" :key="slide.id">
      <!--content -->
      <li
        class="flex-shrink-0 w-full"
        x-cloak
        x-show="currentSlide==slide.id"
        x-transition.opacity.duration.1000ms
      >
        <picture class="rounded-t-lg"
          ><img
            :src="slide.image.src"
            :alt="slide.titulo"
            class="aspect-video object-cover rounded-t-lg"
            loading="lazy"
          /></picture
        >
        <article class="flex flex-col gap-3 p-2">
          <h3 x-text="slide.titulo"></h3>
          <p
            x-text="slide.descripcion"
            class="text-justify text-small md:text-base flex-grow"
          >
          </p>
          <ul
            class="flex flex-col md:flex-row gap-3 justify-center md:justify-start"
          >
            <li>
              <Button
                as={Link}
                variant="shadow"
                x-bind:href="slide.demo"
                isExternal
                color="secondary"
                className="w-full md:w-fit"
                variant="bordered"
                size="sm">Ver Demo</Button
              >
            </li>
            <li>
              <Button
                as={Link}
                variant="shadow"
                x-bind:href="slide.repo"
                isExternal
                variant="bordered"
                color="secondary"
                className="w-full md:w-fit"
                size="sm">Ver Repo</Button>
            </li>
          </ul>
        </article>
      </li>
    </template>
  </ul>
  <ul class="flex flex-wrap gap-1.5 justify-center">
    <template x-for="slide in slides" :key="slide.id">
      <li>
        <button
          class="size-2 cursor-pointer rounded-full transition bg-neutral-600"
          x-on:click="currentSlide = slide.id"
          x-bind:class="[currentSlide === slide.id ? 'bg-neutral-600 ' : 'bg-neutral-600/50 ']"
          x-bind:aria-label="'slide ' + slide.id"></button>
      </li></template
    >
  </ul>
</section>
<Button
  as={Link}
  showAnchorIcon
  isExternal
  href="https://github.com/devjhonluna?tab=repositories"
  variant="ghost"
  color="secondary"
  className="w-full col-span-full sm:w-fit"
>
  Ver todos los proyectos
</Button>

<script>
  import Alpine from "alpinejs";
  import listaProyectos from "@js/arrays/listaProyectos";

  Alpine.data("proyectos", listaProyectos);
</script>
