---
import CustomAvatar from "@/components/react/utils/CustomAvatar";
import SocialGroup from "@/components/react/utils/SocialGroup";
import fotoPortafolio from "@/img/fotoportafolio.webp";
import { avatarStyles } from "@js/customStyles";
import { Button, Link } from "@heroui/react";
---

<CustomAvatar
  src={fotoPortafolio.src}
  classNames={avatarStyles}
  title="Jhon Alexander Luna González"
  client:visible
/>
<p class="text-[clamp(0.875rem,_0.208vw_+_0.833rem,_1rem)]">
  Hola 👋 Soy Jhon, un apasionado desarrollador frontend y entusiasta por la
  inteligencia artificial. Creativo y amante de los retos, busco oportunidades
  para expresar mi visión única en cada línea de código.
</p>

<SocialGroup client:only="react" />
<Button
  as={Link}
  isExternal
  size="sm"
  href="/assets/DEVJL Resume.pdf"
  color="primary"
  className="w-full text-small  sm:text-base"
  variant="shadow"
  size="sm"
>
  Descargar CV
</Button>
