---
import CustomSwitch from "@react/utils/CustomSwitch";
import SocialGroup from "@react/utils/SocialGroup";
---

<aside class="w-full lg:w-2/5 h-auto p-1.5 md:p-4 flex flex-col gap-2">
  <CustomSwitch client:only="react" label="theme switcher" />
  <figure class="flex gap-2 flex-col justify-center items-center">
    <img
      src="./src/img/fotoportafolio.webp"
      alt="fotoportada"
      class="w-20 object-cover transition-all ease-soft-spring duration-300 hover:drop-shadow-[0_4px_3px_rgb(0_0_0_/_0.4)] dark:hover:drop-shadow-[0_4px_3px_rgb(255_255_255_/_0.4)]"
    />
    <figcaption class="w-full flex flex-col items-center">
      <h1 class="text-center">Jhon Alexander Luna González</h1>
    </figcaption>
  </figure>
  <p class="text-sm sm:text-base text-justify lg:text-left">
    Hola 👋 Soy Jhon, un apasionado desarrollador frontend y entusiasta por la
    inteligencia artificial. Creativo y amante de los retos, busco oportunidades
    para expresar mi visión única en cada línea de código.
  </p>
  <SocialGroup client:only="react" />
  
</aside>
