---
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.postDate.valueOf() - a.data.postDate.valueOf()
);


---

<section class="flex flex-col gap-y-2.5">
  <h3 class="font-serif font-medium text-2xl">Mi Blog</h3>
  <ul class="flex flex-wrap gap-4 *:w-full">
    {
      posts.map((post) => {
        const { slug, data } = post;
        const { title, postDate } = data;
        const dateOptions = {
          weekday: "long",
          year: "numeric",
          month: "short",
          day: "numeric",
        };
        return (
          <li class="border border-primary-light rounded-lg p-4 transition-colors duration-300 hover:bg-primary-light-hover hover:text-primary-dark-hover ">
            <a href={`/blog/${slug}`} >
              <h4>{title}</h4>
              <time datetime={postDate.toISOString()}>
                {postDate.toLocaleDateString("es-CO", dateOptions)}
              </time>
            </a>
          </li>
        );
      })
    }
  </ul>
</section>
