---
import { Image } from 'astro:assets';
import foto from "@/assets/img/fotoportafolio.webp";
import { Icon } from "astro-icon/components";
import { socialMediaList } from "../js/arrays/listaRedes";
---

<figure class="flex flex-col justify-between items-center sm:flex-row-reverse gap-4   " >
  <Image class="size-48 md:size-32 object-cover aspect-square" src={foto} alt="foto" />
  <figcaption class="flex flex-col items-center justify-center sm:items-start gap-2 w-full">
    <h1 class="font-bold font-sans text-4xl">Jhon Alexander Luna González</h1>
    <h2 class="font-sans font-semibold text-2xl">Desarrollador Frontend</h2>
    <span class="font-mono font-normal text-sm">Girón, Santander, Colombia</span>
    <div class="flex flex-wrap items-center *:justify-center w-full  sm:justify-between gap-2.5 *:w-full *:sm:w-fit">
      <ul class="flex gap-1 text-black">
        {
          socialMediaList.map((item) => (
            <li class="p-2 border rounded-lg transition-transform hover:-translate-y-1 hover:shadow-md">
              <a
                href={item.src}
                target="_blank"
                aria-label={item.label}
                rel="noopener noreferrer"
              >
                <Icon name={item.icon} size={28} />
              </a>
            </li>
          ))
        }
      </ul>
      <a href="mailto:dev.jhonluna@gmail.com" class="inline-flex items-center gap-x-2 font-medium text-sm  transition-colors duration-300 py-2 px-3 bg-primary-normal text-primary-light rounded-lg hover:bg-primary-normal-hover" target="_blank" rel="noopener noreferrer">Contáctame </a>
    </div>
  </figcaption>
</figure>
