---
 import cv from "@/assets/cvdevjhonluna.pdf";
---

<article class="flex flex-col gap-y-2.5 p-2  ">
    <h3 class="font-serif font-medium text-2xl">Acerca de mi</h3>
    <p class="font-sans font-normal">Soy Jhon Luna, un programador de frontend que se centra en el minimalismo, la eficacia y la experiencia humana.
     Utilizando JavaScript, Tailwind y Astro, diseño interfaces funcionales y limpias que combinan tecnología y diseño para construir páginas web rápidas, visuales y con un propósito.
    </p>
    <p class="font-sans font-normal"> Menos bulla.  Más intencionalidad. De esta manera, construyo.</p>
    <a class="w-full sm:w-fit py-2 px-3 inline-flex items-center gap-x-2 font-medium text-sm transition-colors duration-300 text-primary-normal hover:bg-primary-light-hover rounded-lg" href={cv} target="_blank" rel="noopener noreferrer">Download CV</a>
    
</article>