---
import '@fontsource/space-mono';
import '@styles/global.css'

import MinimalistLayout from '@/layouts/MinimalistLayout.astro';
import ProfileCard from '@/components/astro/sections/ProfileCard.astro';
import Tabs from '@/components/astro/sections/Tabs.astro';

---


<MinimalistLayout titulo="{DEV:JL}-Desarrollador Frontend" descripcion="Portafolio de Desarrollo Frontend" href="/DevJL Icono.png">
	<ProfileCard slot='side'/>
	<Tabs slot='content'/>
	<p slot="footer" class="text-[clamp(0.75rem,_0.417vw_+_0.667rem,_1rem)]"> © 2023 DEV:JL™-Todos los Derechos reservados.</p>
</MinimalistLayout>