---
const { titulo, descripcion } = Astro.props;
import "@styles/global.css";
import '@fontsource-variable/ibm-plex-sans';
import '@fontsource/ibm-plex-serif';
import '@fontsource/ibm-plex-mono';
import Footer from "@components/sections/footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{titulo}</title>
    <meta name="description" content={descripcion} />
  </head>
  <body >
    <main class="container mx-auto py-12 px-4 sm:px-0 sm:max-w-screen-sm text-base-content-normal flex flex-col gap-y-14 "> 
      <slot />
      <Footer />
  </main>
  </body>
</html>
