---
const { titulo, descripcion, href } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <link rel="icon" type="image/png" href={href} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{titulo}</title>
    <meta name="description" content={descripcion} />
  </head>
  <body class="grid place-items-center w-full gap-4 p-0 sm:p-6 h-svh">
    <main class="sm:border sm:border-foreground flex flex-wrap rounded-lg lg:max-w-5xl lg:divide-x lg:divide-foreground">
      <slot name="side"/>
      <slot name="content"/>
    </main>
    <footer><slot name="footer"></footer>
  </body>
</html>
