---

import Skills from "@components/tabs/skills.astro";
import Sobremi from "@components/tabs/sobremi.astro";
import BentoItem from "@components/ui/bento/BentoItem.astro";
import {
  TabsContainer,
  TabsList,
  TabsTrigger,
  Tabs,
  TabsPanel,
} from "@components/ui/Tabs/index";

---

<!-- <div x-data="{ selectedTab: 'groups' }" class="w-full">
	<div x-on:keydown.right.prevent="$focus.wrap().next()" x-on:keydown.left.prevent="$focus.wrap().previous()" class="flex gap-2 overflow-x-auto border-b border-outline dark:border-outline-dark" role="tablist" aria-label="tab options">
		<button x-on:click="selectedTab = 'groups'" x-bind:aria-selected="selectedTab === 'groups'" x-bind:tabindex="selectedTab === 'groups' ? '0' : '-1'" x-bind:class="selectedTab === 'groups' ? 'font-bold text-primary border-b-2 border-primary dark:border-primary-dark dark:text-primary-dark' : 'text-on-surface font-medium dark:text-on-surface-dark dark:hover:border-b-outline-dark-strong dark:hover:text-on-surface-dark-strong hover:border-b-2 hover:border-b-outline-strong hover:text-on-surface-strong'" class="h-min px-4 py-2 text-sm" type="button" role="tab" aria-controls="tabpanelGroups" >Groups</button>
		<button x-on:click="selectedTab = 'likes'" x-bind:aria-selected="selectedTab === 'likes'" x-bind:tabindex="selectedTab === 'likes' ? '0' : '-1'" x-bind:class="selectedTab === 'likes' ? 'font-bold text-primary border-b-2 border-primary dark:border-primary-dark dark:text-primary-dark' : 'text-on-surface font-medium dark:text-on-surface-dark dark:hover:border-b-outline-dark-strong dark:hover:text-on-surface-dark-strong hover:border-b-2 hover:border-b-outline-strong hover:text-on-surface-strong'" class="h-min px-4 py-2 text-sm" type="button" role="tab" aria-controls="tabpanelLikes" >Likes</button>
		<button x-on:click="selectedTab = 'comments'" x-bind:aria-selected="selectedTab === 'comments'" x-bind:tabindex="selectedTab === 'comments' ? '0' : '-1'" x-bind:class="selectedTab === 'comments' ? 'font-bold text-primary border-b-2 border-primary dark:border-primary-dark dark:text-primary-dark' : 'text-on-surface font-medium dark:text-on-surface-dark dark:hover:border-b-outline-dark-strong dark:hover:text-on-surface-dark-strong hover:border-b-2 hover:border-b-outline-strong hover:text-on-surface-strong'" class="h-min px-4 py-2 text-sm" type="button" role="tab" aria-controls="tabpanelComments" >Comments</button>
		<button x-on:click="selectedTab = 'saved'" x-bind:aria-selected="selectedTab === 'saved'" x-bind:tabindex="selectedTab === 'saved' ? '0' : '-1'" x-bind:class="selectedTab === 'saved' ? 'font-bold text-primary border-b-2 border-primary dark:border-primary-dark dark:text-primary-dark' : 'text-on-surface font-medium dark:text-on-surface-dark dark:hover:border-b-outline-dark-strong dark:hover:text-on-surface-dark-strong hover:border-b-2 hover:border-b-outline-strong hover:text-on-surface-strong'" class="h-min px-4 py-2 text-sm" type="button" role="tab" aria-controls="tabpanelSaved" >Saved</button>
	</div>
	<div class="px-2 py-4 text-on-surface dark:text-on-surface-dark">
		<div x-cloak x-show="selectedTab === 'groups'" id="tabpanelGroups" role="tabpanel" aria-label="groups"><b><a href="#" class="underline">Groups</a></b> tab is selected</div>
		<div x-cloak x-show="selectedTab === 'likes'" id="tabpanelLikes" role="tabpanel" aria-label="likes"><b><a href="#" class="underline">Likes</a></b> tab is selected</div>
		<div x-cloak x-show="selectedTab === 'comments'" id="tabpanelComments" role="tabpanel" aria-label="comments"><b><a href="#" class="underline">Comments</a></b> tab is selected</div>
		<div x-cloak x-show="selectedTab === 'saved'" id="tabpanelSaved" role="tabpanel" aria-label="saved"><b><a href="#" class="underline">Saved</a></b> tab is selected</div>
	</div>
</div>
 -->
<BentoItem as="section">
  <Tabs
    class="flex flex-col lg:flex-row gap-2 overflow-x-auto"
    x-data="{ selectedTab: 'sobremi' }"
  >
    <TabsList
      slot="tabs-list"
      class="flex flex-col lg:flex-col w-full lg:w-1/3 gap-4"
    >
      <TabsTrigger
        x-on:click="selectedTab = 'sobremi'"
        slot="tab-trigger"
        x-bind:aria-selected="selectedTab==='sobremi'"
        aria-controls="tabpanelsobremi">Sobre mi</TabsTrigger
      >
      <TabsTrigger
        x-on:click="selectedTab = 'skills'"
        x-bind:aria-selected="selectedTab==='skills'"
        slot="tab-trigger"
        aria-controls="tabpanelskills">habilidades</TabsTrigger
      >
      <TabsTrigger
        x-on:click="selectedTab = 'education'"
        x-bind:aria-selected="selectedTab==='education'"
        slot="tab-trigger"
        aria-controls="tabpaneleducation">Formación</TabsTrigger
      >
      <TabsTrigger
        x-on:click="selectedTab = 'proyectos'"
        x-bind:aria-selected="selectedTab==='proyectos'"
        slot="tab-trigger"
        aria-controls="tabpanelproyectos">Proyectos</TabsTrigger
      >
    </TabsList>
    <TabsContainer slot="tabs-container" class="w-full flex flex-col px-2 *:flex *:flex-col *:gap-y-2.5">
      <TabsPanel
        class=""
        x-cloak
        x-show="selectedTab === 'sobremi'"
        slot="tabs-panel"
        id="tabpanelsobremi"
      >
       <Sobremi />
      </TabsPanel>
      <TabsPanel
        class=""
        x-cloak
        x-show="selectedTab === 'skills'"
        slot="tabs-panel"
        id="tabpanelskills"
      >
       <Skills/>
      </TabsPanel>
      <TabsPanel
        class=""
        x-cloak
        x-show="selectedTab === 'education'"
        slot="tabs-panel"
        id="tabpaneleducation"
      >
        Formación
      </TabsPanel>
      <TabsPanel
        class=""
        x-cloak
        x-show="selectedTab === 'proyectos'"
        slot="tabs-panel"
        id="tabpanelproyectos"
      >
        Proyectos
      </TabsPanel>
    </TabsContainer>
  </Tabs>
</BentoItem>
